$bgrColor = #2E2F2E

$accentColor = #FF881C
$accentLightenColor = lighten($accentColor, 10%)

$textColor = #dedede
$borderColor = rgba(0, 0, 0, 0.15)
$codeBgColor = #282925
$arrowBgColor = $accentColor

$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// Progress bar
$nprogressColor = $accentLightenColor


$blue = #51D8DE
$red = #F9264F
$orange = #FF6A40
$green = #4dd899
$lightGreen = #99B998
$lightPeachy = #FDB984
$flamingo = #F4837D
$pink = #EA495F
$grey = #474747
$lightGrey = rgba(255, 255, 255, 0.6)
$purple = #A062F2
$cyan = #18FFFF
$brownGrey = #817565
$yellow = #F7BC20

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 17rem
$contentWidth = 960px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 770px
$MQMobileNarrow = 419px